<div class="form">
  <div class="formContainer">
    <h2>เพิ่มสมาชิก</h2>
    <div [formGroup]="cusRegisForm">
   
      <mat-form-field class="container">
          <input matInput placeholder="Name" formControlName="name" class="form-control" required>
          <mat-error *ngIf="this.cusRegisForm.controls.name.hasError('required')">
            Name is <strong>required</strong>.
          </mat-error>
      </mat-form-field>

      <mat-form-field class="container">
        <input matInput placeholder="Mobile Number" type="tel" formControlName="tel" class="form-control" required>
        <mat-error *ngIf="this.cusRegisForm.controls.tel.hasError('required')">
          Mobile Number is <strong>required</strong>.
        </mat-error>
    </mat-form-field>

      <mat-form-field class="container">
        <input matInput placeholder="Email" formControlName="email" class="form-control" required>
        <mat-error *ngIf="this.cusRegisForm.controls.email.hasError('email')">
          Please enter a valid email address.
        </mat-error>
        <mat-error *ngIf="this.cusRegisForm.controls.email.hasError('required')">
            Email is <strong>required</strong>.
          </mat-error>
      </mat-form-field>
        
        <mat-form-field class="container">
            <input matInput placeholder="Password" type="password" formControlName="password" class="form-control" required>
            <mat-error *ngIf="!this.cusRegisForm.controls.password.hasError('minLength')">
              Password must be at least 6 characters.
            </mat-error>
            <mat-error *ngIf="this.cusRegisForm.controls.password.hasError('required')">
              Password is <strong>required</strong>.
            </mat-error>
        </mat-form-field>

        <button (click)="signup()" mat-raised-button color="primary">Submit</button>
      
      <div class="form-group" *ngIf="authService.authenticated">  
          <button (click)="logout()">Log out</button>
    </div>
    
  </div>
    <div class="alert alert-info" *ngIf="showSuccessMessage" >
      Submitted successfully.
    </div>
  </div>
  <div class="col-md-7">
  </div>
</div>