<div class="form">
  <div class="formContainer">
    <h2>เพิ่มสมาชิก</h2>
    <div [formGroup]="cusRegisForm">
   
      <mat-form-field class="container">
          <input matInput placeholder="ชื่อ" formControlName="name" class="form-control" required>
          <mat-error *ngIf="this.cusRegisForm.controls.name.hasError('required')">
            <strong>ต้องการ</strong>ชื่อ
          </mat-error>
      </mat-form-field>

      <mat-form-field class="container">
        <input matInput placeholder="เบอร์โทรศัพท์" type="tel" formControlName="tel" class="form-control" required>
        <mat-error *ngIf="this.cusRegisForm.controls.tel.hasError('required')">
          <strong>ต้องการ</strong>เบอร์โทรศัพท์
        </mat-error>
    </mat-form-field>

      <mat-form-field class="container">
        <input matInput placeholder="อีเมล" formControlName="email" class="form-control" required>
        <mat-error *ngIf="this.cusRegisForm.controls.email.hasError('email')">
          กรุณาใส่อีเมลให้ถูกต้อง
        </mat-error>
        <mat-error *ngIf="this.cusRegisForm.controls.email.hasError('required')">
            <strong>ต้องการ</strong>อีเมล
          </mat-error>
      </mat-form-field>
        
        <mat-form-field class="container">
            <input matInput placeholder="รหัสผ่าน" type="password" formControlName="password" class="form-control" required>
            <mat-error *ngIf="!this.cusRegisForm.controls.password.hasError('minLength(6)')">
              รหัสผ่านต้องมากกว่า 6 ตัวอักษร
            </mat-error>
            <mat-error *ngIf="this.cusRegisForm.controls.password.hasError('required')">
              <strong>ต้องการ</strong>รหัสผ่าน
            </mat-error>
        </mat-form-field>

        <button (click)="signup()" mat-raised-button color="primary">ส่ง</button>
      
    
  </div>
    <div class="alert alert-info" *ngIf="showSuccessMessage" >
      Submitted successfully.
    </div>
  </div>
  <div class="col-md-7">
  </div>
</div>