<div class="row">
  <div class="col-md-5">
    <div [formGroup]="cusRegisForm">
   
      <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" class="form-control" required>
          <mat-error *ngIf="this.cusRegisForm.controls.name.hasError('required')">
            This field is required.
          </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" class="form-control" required>
        <mat-error *ngIf="this.cusRegisForm.controls.email.hasError('email')">
          Please enter a valid email address.
        </mat-error>
        <mat-error *ngIf="this.cusRegisForm.controls.email.hasError('required')">
            Email is <strong>required</strong>.
          </mat-error>
      </mat-form-field>
        
        <mat-form-field>
            <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" class="form-control" required>
            <mat-icon matSuffix (click)="hide = !hide">{{ hide? 'visibility' : 'visibility_off' }}</mat-icon>
            <mat-error *ngIf="!this.cusRegisForm.controls.password.hasError('required')">
              Password must be at least 6 characters.
            </mat-error>
            <mat-error *ngIf="this.cusRegisForm.controls.password.hasError('required')">
              Password is <strong>required</strong>.
            </mat-error>
        </mat-form-field>

        <button (click)="signup()" mat-raised-button color="primary">Submit</button>
      
      <div class="form-group" *ngIf="authService.authenticated">  
          <button (click)="logout()">Log out</button>
    </div>
    
  </div>
    <div class="alert alert-info" *ngIf="showSuccessMessage" >
      Submitted successfully.
    </div>
  </div>
  <div class="col-md-7">
  </div>
</div>