<div class="add">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstStep">
          <form [formGroup]="firstStep" >
            <ng-template matStepLabel>กรอกเบอร์โทรศัพท์ลูกค้า</ng-template>
            <div class="row">
              <mat-form-field>
                <input matInput placeholder="เบอร์โทรศัพท์" formControlName="firstCtrl" required type="tel">
                <mat-error *ngIf="this.firstStep.controls.firstCtrl.hasError('required')">
                  ต้องการ <strong>เบอร์โทรศัพท์</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperNext>ต่อไป</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondStep">
          <form [formGroup]="secondStep">
          <ng-template matStepLabel>แสกน RFID Tag</ng-template>
            <div class="row">
              <mat-form-field>
                <input matInput placeholder="RFID Tag Number" formControlName="rfidCtrl" required >
                <mat-error *ngIf="this.secondStep.controls.rfidCtrl.hasError('required')">
                  ต้องการ<strong>หมายเลข RFID</strong>
                </mat-error>
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>กลับ</button>
              <button mat-button matStepperNext>ต่อไป</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdStep">
          <form class="example-form" [formGroup]="thirdStep">
            <ng-template matStepLabel>รายละเอียดรายการ</ng-template>
            <table>
              <tr>
                <th>ชนิดของผ้า</th>
                <th>จำนวน</th>
                <th>
                  <button mat-icon-button color="accent" type="button" title="new item" 
                  (click)="addNewItem()">
                    <mat-icon>add</mat-icon>
                  </button>
                </th>
              </tr>
              <tr formArrayName="items" *ngFor="let item of items.controls; let i = index;">
                <ng-container [formGroupName]="i">
                  <td>
                    <mat-form-field class="example-full-width">
                      <input #name type="text" placeholder="ชนิดของผ้า" aria-label="Assignee"
                      matInput formControlName="name" [matAutocomplete]="auto">
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions[i] | async" [value]="option">
                        {{option.name}}
                      </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="จำนวน" formControlName="count">
                    </mat-form-field>
                  </td>
                  <td class="mat-cell">
                    <button mat-icon-button color="primary" type="button" title="delete item" (click)="removeItem(i)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>

              </tr>
            </table>
          </form>
          <div class="alert alert-info" *ngIf="showSuccessMessage" >
            ส่งรายการสำเร็จ
          </div>
          <div>
              <button mat-button matStepperPrevious>กลับ</button>
              <button mat-button (click)="mapOrder()" >ส่ง</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

