

<mat-sidenav-container >

    <mat-sidenav #sidenav>
        <app-sidenav-list (closeSideNavigation)="sidenav.close()"></app-sidenav-list>    
    </mat-sidenav>

    <mat-sidenav-content>
        <app-header (SideNaviatationToggle)="sidenav.toggle()"></app-header>
        <app-navtabs></app-navtabs>
        <div class="jumbotron">
            <div class="container">
                <div class="col-sm-12 col-sm-offset">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

