<div class="row">
    <div class="col-md-5">
      <form [formGroup]="this.shopRegis.regisForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="$key">
        <div class="form-group">
          <label>Name</label>
          <input formControlName="name" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.name.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.name.errors">
            This field is required.
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input formControlName="email" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.email.errors}">
          <div class="invalid-feedback" *ngIf="submitted && formControls.email.errors">
            Invalid email address.
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" formControlName="password" class="form-control">
        </div>
        <div class="form-group">
            <label>Telephone</label>
            <input formControlName="tel" type="number" class="form-control" [ngClass]="{'is-invalid': submitted && formControls.tel.errors}">
            <div class="invalid-feedback" *ngIf="submitted && formControls.tel.errors">
              <label *ngIf="formControls.tel.errors.required"> This field is required.</label>
              <label *ngIf="formControls.tel.errors.minlength">At least 8 numbers.</label>
            </div>
          </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Submit" >
        </div>
        <div class="form-group">
          
          <div *ngIf="afService.user | async as user"></div>
           
            <button (click)="afService.logout()">Log out</button>
      </div>
      </form>
      <div class="alert alert-info" *ngIf="showSuccessMessage" >
        Submitted successfully.
      </div>
    </div>
    <div class="col-md-7">
    </div>
  </div>